*.jar
*.jar.disabled

journeymap
logs
crash-reports
cache
options.txt
icon.png
saves
config/jei/worldSettings.cfg
options.txt
usercache.json
usernamecache.json
memory_repo
resourcepacks
*.log
patchouli_data.json
config/codechicken/supporters.*
config/dcMainMenu

BotaniaVars.dat
tconstruct_oredictcache.dat
