*.jar
!gatewaycore*.jar
*.jar.disabled

journeymap
logs
crash-reports
cache
options.txt
icon.png
saves
config/jei/worldSettings.cfg
options.txt
usercache.json
usernamecache.json
memory_repo
resourcepacks
*.log
patchouli_data.json
config/codechicken/supporters.*
config/dcMainMenu
config/spark/tmp
screenshots
splash.properties
local/client
local/ftbutilities

BotaniaVars.dat
tconstruct_oredictcache.dat
transformerCache
build
backups
betweenlands_gallery
caches/**/*.bin

hei_bookmarks.ini
thaumicjei_itemstack_aspects.json
woot/loot.json
scripts/nc_script_addons
config/enderio/recipes/examples
config/enderio/recipes/*.pdf
config/advRocketry/*.xml
config/AppliedEnergistics2/items.csv
config/enderio/recipes/user/recipes.xsd
