instance.cfg
natives
build

*.jar
!gatewaycore*.jar
!abyssaltweaker*.jar
*.jar.disabled

minecraft/journeymap
minecraft/logs
minecraft/crash-reports
minecraft/cache
minecraft/options.txt
minecraft/icon.png
minecraft/saves
minecraft/config/jei/worldSettings.cfg
minecraft/options.txt
minecraft/usercache.json
minecraft/usernamecache.json
minecraft/memory_repo
minecraft/resourcepacks

*.log
minecraft/patchouli_data.json
minecraft/config/codechicken/supporters.*
minecraft/config/dcMainMenu
minecraft/config/spark/tmp
minecraft/screenshots
splash.properties
minecraft/local/client
minecraft/local/ftbutilities
minecraft/BotaniaVars.dat
minecraft/tconstruct_oredictcache.dat
minecraft/vintagefix/transformerCache
minecraft/backups
minecraft/caches/**/*.bin
minecraft/hei_bookmarks.ini
minecraft/thaumicjei_itemstack_aspects.json
minecraft/woot/loot.json
minecraft/scripts/nc_script_addons
minecraft/config/enderio/recipes/examples
minecraft/config/enderio/recipes/*.pdf
minecraft/config/advRocketry/*.xml
minecraft/config/AppliedEnergistics2/items.csv
minecraft/config/enderio/recipes/user/recipes.xsd
minecraft/config/teamreborn/configData.nbt
minecraft/config/teamreborn/reborncore/selected_energy.json
minecraft/config/BiomeTweaker/output/biome/*.json
minecraft/config/BiomeTweaker/output/dimension/*.json
minecraft/config/BiomeTweaker/output/entity/*.json
