# Configuration file

##########################################################################################################
# mining_levels
#--------------------------------------------------------------------------------------------------------#
# The list of all mining level names
##########################################################################################################

mining_levels {
    # Canonical names [default: [0:Stone:§8%s], [1:Iron:§f%s], [2:Diamond:§b%s], [3:Obsidian:§5%s]]
    S:names <
        0:Flint (1):§8%s
        1:Crystal (2):§d%s
        2:Steel (3):§f%s
        3:Restonia (4):§c%s
        4:Thaumium (5):§5%s
        5:Starmetal (6):§9%s
        6:Aetherium (7):§3%s
     >
}


