# Configuration file

##########################################################################################################
# tool
#--------------------------------------------------------------------------------------------------------#
# To add any overwrites, simply copy them over from the tools.cfg
##########################################################################################################

tool {
    S:"minecraft:stone_pickaxe"=pickaxe=0
    S:"minecraft:stone_shovel"=shovel=0
    S:"minecraft:stone_axe"=axe=0

    S:"minecraft:iron_pickaxe"=pickaxe=0
    S:"minecraft:iron_shovel"=shovel=0
    S:"minecraft:iron_axe"=axe=0

    S:"essentialcraft:weak_elemental_pick"=pickaxe=0
    S:"essentialcraft:weak_elemental_shovel"=shovel=0
    S:"essentialcraft:weak_elemental_axe"=axe=0

    S:"essentialcraft:elemental_pick"=pickaxe=4
    S:"essentialcraft:elemental_shovel"=shovel=4
    S:"essentialcraft:elemental_axe"=axe=4

    S:"essentialcraft:wind_elemental_pick"=pickaxe=5
    S:"essentialcraft:wind_elemental_shovel"=shovel=5
    S:"essentialcraft:wind_elemental_axe"=axe=5

    S:"mysticalworld:copper_pickaxe"=pickaxe=1
    S:"mysticalworld:copper_shovel"=shovel=1
    S:"mysticalworld:copper_axe"=axe=1
    # Mystical World and Roots' hoes act as pickaxes
    S:"mysticalworld:copper_hoe"=

    S:"mysticalworld:silver_pickaxe"=pickaxe=1
    S:"mysticalworld:silver_shovel"=shovel=1
    S:"mysticalworld:silver_axe"=axe=1
    S:"mysticalworld:silver_hoe"=

    S:"mysticalworld:amethyst_pickaxe"=pickaxe=3
    S:"mysticalworld:amethyst_shovel"=shovel=3
    S:"mysticalworld:amethyst_axe"=axe=3
    S:"mysticalworld:amethyst_hoe"=

    S:"mysticalworld:terrastone_pickaxe"=pickaxe=3
    S:"mysticalworld:terrastone_shovel"=shovel=3
    S:"mysticalworld:terrastone_axe"=axe=3
    S:"mysticalworld:terrastone_hoe"=

    S:"mysticalworld:living_pickaxe"=pickaxe=2
    S:"mysticalworld:living_shovel"=shovel=2
    S:"mysticalworld:living_axe"=axe=2
    S:"mysticalworld:living_hoe"=

    S:"theaurorian:aurorianitepickaxe"=pickaxe=1
    S:"theaurorian:aurorianiteshovel"=shovel=1
    S:"theaurorian:aurorianiteaxe"=axe=1

    S:"naturesaura:infused_iron_pickaxe"=pickaxe=2
    S:"naturesaura:infused_iron_axe"=shovel=2
    S:"naturesaura:infused_iron_shovel"=axe=2

    S:"theaurorian:umbrapickaxe"=pickaxe=1
    S:"theaurorian:umbrashovel"=shovel=1
    S:"theaurorian:umbraaxe"=axe=1

    S:"theaurorian:moonstonepickaxe"=pickaxe=1
    S:"theaurorian:moonstoneshovel"=shovel=1
    S:"theaurorian:moonstoneaxe"=axe=1

    S:"theaurorian:auroriansteelpickaxe"=pickaxe=3
    S:"theaurorian:auroriansteelshovel"=shovel=3
    S:"theaurorian:auroriansteelaxe"=axe=3

    S:"theaurorian:crystallinepickaxe"=pickaxe=2
    S:"theaurorian:crystallineshovel"=shovel=2
    S:"theaurorian:crystallineaxe"=axe=2

    S:"theaurorian:queenschipper"=pickaxe=3

    S:"advancedrocketry:jackhammer"=pickaxe=5

    S:"aetherworks:item_pickaxe_aether"=pickaxe=5
    S:"aetherworks:item_pickaxe_ember"=pickaxe=5
    S:"aetherworks:item_shovel_redstone"=shovel=5
    S:"aetherworks:item_shovel_slime"=shovel=5
    S:"aetherworks:item_axe_prismarine"=axe=5
    S:"aetherworks:item_axe_ender"=axe=5

    S:"bloodmagic:bound_pickaxe"=pickaxe=5
    S:"bloodmagic:bound_shovel"=shovel=5
    S:"bloodmagic:bound_axe"=axe=5
    S:"bloodmagic:sentient_pickaxe"=pickaxe=5
    S:"bloodmagic:sentient_shovel"=shovel=5
    S:"bloodmagic:sentient_axe"=axe=5

    S:"calculator:redstonepickaxe"=pickaxe=3
    S:"calculator:redstoneshovel"=shovel=3
    S:"calculator:redstoneaxe"=axe=3

    S:"calculator:weakeneddiamondpickaxe"=pickaxe=4
    S:"calculator:weakeneddiamondshovel"=shovel=4
    S:"calculator:weakeneddiamondaxe"=axe=4

    S:"calculator:flawlessdiamondpickaxe"=pickaxe=4
    S:"calculator:flawlessdiamondshovel"=shovel=4
    S:"calculator:flawlessdiamondaxe"=axe=4

    S:"calculator:firediamondpickaxe"=pickaxe=4
    S:"calculator:firediamondshovel"=pickaxe=4
    S:"calculator:firediamondaxe"=pickaxe=4

    S:"calculator:electricpickaxe"=pickaxe=5
    S:"calculator:electricshovel"=shovel=5
    S:"calculator:electricaxe"=axe=5

    S:"calculator:endforgedpickaxe"=pickaxe=5
    S:"calculator:endforgedshovel"=shovel=5
    S:"calculator:endforgedaxe"=axe=5

    S:"embers:pickaxe_clockwork"=pickaxe=3
    S:"embers:axe_clockwork"=axe=3

    S:"embers:aetheriumclockworkpickaxe"=pickaxe=5
    S:"embers:aetheriumclockworkaxe"=axe=5

    S:"abyssalcraft:ethaxiumpickaxe"=pickaxe=5
    S:"abyssalcraft:ethaxiumshovel"=shovel=5
    S:"abyssalcraft:ethaxiumaxe"=axe=5

    S:"astralsorcery:itemcrystalpickaxe"=pickaxe=4
    S:"astralsorcery:itemcrystalshovel"=shovel=4
    S:"astralsorcery:itemcrystalaxe"=axe=4
    S:"astralsorcery:itemchargedcrystalpickaxe"=pickaxe=5
    S:"astralsorcery:itemchargedcrystalshovel"=shovel=5
    S:"astralsorcery:itemchargedcrystalaxe"=axe=5

    S:"botania:manasteelpick"=pickaxe=5
    S:"botania:manasteelshovel"=shovel=5
    S:"botania:manasteelaxe"=axe=5
    S:"botania:elementiumpick"=pickaxe=5
    S:"botania:elementiumshovel"=shovel=5
    S:"botania:elementiumaxe"=axe=5
    S:"botania:terrapick"=pickaxe=5
    S:"botania:terramaxe"=axe=5

    S:"lost_aether:phoenix_pickaxe"=pickaxe=5
    S:"lost_aether:phoenix_shovel"=shovel=5
    S:"lost_aether:phoenix_axe"=axe=5
    S:"aether_legacy:valkyrie_pickaxe"=pickaxe=5
    S:"aether_legacy:valkyrie_shovel"=shovel=5
    S:"aether_legacy:valkyrie_axe"=axe=5

    S:"thaumcraft:thaumium_pick"=pickaxe=4
    S:"thaumcraft:thaumium_shovel"=shovel=4
    S:"thaumcraft:thaumium_axe"=axe=4

    S:"thaumcraft:elemental_pick"=pickaxe=4
    S:"thaumcraft:elemental_shovel"=shovel=4
    S:"thaumcraft:elemental_axe"=axe=4

    S:"thaumictinkerer:ichorium_pick"=pickaxe=5
    S:"thaumictinkerer:ichorium_shovel"=shovel=5
    S:"thaumictinkerer:ichorium_axe"=axe=5

    S:"thaumictinkerer:ichorium_pick_adv"=pickaxe=5
    S:"thaumictinkerer:ichorium_shovel_adv"=shovel=5
    S:"thaumictinkerer:ichorium_axe_adv"=axe=5

    S:"actuallyadditions:item_pickaxe_crystal_red"=pickaxe=2
    S:"actuallyadditions:item_shovel_crystal_red"=shovel=2
    S:"actuallyadditions:item_axe_crystal_red"=axe=2

    S:"actuallyadditions:item_pickaxe_crystal_blue"=pickaxe=2
    S:"actuallyadditions:item_shovel_crystal_blue"=shovel=2
    S:"actuallyadditions:item_axe_crystal_blue"=axe=2

    S:"actuallyadditions:item_pickaxe_crystal_white"=pickaxe=2
    S:"actuallyadditions:item_shovel_crystal_white"=shovel=2
    S:"actuallyadditions:item_axe_crystal_white"=axe=2

    S:"actuallyadditions:item_pickaxe_crystal_green"=pickaxe=3
    S:"actuallyadditions:item_shovel_crystal_green"=shovel=3
    S:"actuallyadditions:item_axe_crystal_green"=axe=3
}


