# Configuration file

general {
    I:debug_verbosity=1

    # Enable demo entries. Demo entries explain what can be made with this mod.
    B:demo=false

    # Interval when logging errors for drawing. 0 for no interval, negative for no logs.
    I:drawing_logs_interval=1000

    # Dimension ID for the dummy world used for showing structures. Shouldn't conflict with existing dimension IDs to prevent side effects on some mods.
    I:dummyWorldDimension=-25555

    # Enable FTB Quests Integration. Adds a task to open an entry from this mod.
    B:ftbquests_integration=true

    # Set a custom homepage for your modpack. Defaults to the demo entry.
    S:homepage_id=internal:demo

    # Print verbose logs for debugging.
    B:log_debug=false

    # Moves client-side player position temporarily when rendering structure. Workaround for renderers with view-based culling
    # Valid values:
    # DISABLED
    # ENABLED
    # SINGLEPLAYER_ONLY
    S:renderWorkaround=DISABLED

    # Special TileEntity classes to capture updateTag when saving structure, and load them when loading. Workaround for some tiles not rendering correctly.
    # Comments are allowed after a '#'
    S:specialTileClasses <
        appeng.tile.networking.TileCableBus#AE2
        buildcraft.transport.tile.TilePipeHolder#BCPipe
     >

    ##########################################################################################################
    # compat
    #--------------------------------------------------------------------------------------------------------#
    # Manage built-in mod compatibility for mods.
    ##########################################################################################################

    compat {
        B:buildcraft=true
        B:enderio=true
        B:forgemultipart=true
        B:ic2=true
    }

}


