# Configuration file

ui {
    # Press ESC to go back in history, instead of closing the GUI.
    B:back_then_close=true

    # Mouse movement sensivity for dragging in structure page.
    # Min: -10.0
    # Max: 10.0
    D:cursor_sensivity=1.0

    # Default rotation pitch for structure view.
    # Min: -90.0
    # Max: 90.0
    D:default_pitch=20.0

    # Default rotation yaw for structure view.
    # Min: -180.0
    # Max: 180.0
    D:default_yaw=60.0

    # Base scaling factor for structure view.
    # Min: 0.01
    # Max: 100.0
    D:structure_scaling=1.0

    # Mouse wheel sensivity for zooming in structure page.
    # Min: -10.0
    # Max: 10.0
    D:wheel_sensivity=8.0

    # Enable zoom buttons in structure page.
    B:zoom_buttons=true

    # Enable zoom slider in structure page.
    B:zoom_slider=true
}


