# Configuration file

general {
    # Whether enable Catalogue.
    # Setting it false will stop Catalogue redirecting Forge's mod list calls.
    B:enable=true

    # The list of mod ids that should always use the default item icon.
    # They will not have random-picked item icons to avoid crashes.
    S:forceDefaultIconList <
     >
    I:iconMaxWidthHeight=256

    # The list of ignored dependencies' mod ids.
    # They will not be displayed when searching for dependencies/dependants.
    S:ignoredDependenciesList <
        minecraft
        forge
        FML
        mcp
        cleanroom
     >

    # The list of library mods' mod ids.
    # They will have grey names in the mod list.
    S:libraryList <
        forge
        FML
        mcp
        cleanroom
        configanytime
        mixinbooter
        fugue
        scalar
        kirino_ecs
        kirino_engine
        kirino_gl
        athenaeum
        autoreglib
        bnbgaminglib
        bookshelf
        brandonscore
        cofhcore
        codechickenlib
        commoncapabilities
        cyclopscore
        eleccore
        eleccoreloader
        endercore
        forgemultipartcbe
        forgelin_continuous
        geckolib3
        mantle
        mcjtylib_ng
        minecraftmultipartcbe
        modularui
        mrtjpcore
        mysticallib
        nclegacy
        nether_api
        openmods
        openmodscore
        persistency
        reborncore
        redcore
        redstoneflux
        teslacorelib_registries
        tweakedlib
        libvulpes
        wrapup
     >
}


