# Configuration file

compatibility {
    # Enable The One Probe compatibility integration [default: true]
    B:enableTOPCompatibility=true
}


general {
    # Armory slot amount [range: 1 ~ 2147483647, default: 4096]
    I:armoryCabinetSize=4096

    # Linking range radius [range: 1 ~ 64, default: 8]
    I:drawerControllerLinkingRange=8

    # How much fluid (in mb) the collector upgrade will try to collect [range: 1 ~ 10000, default: 500]
    I:upgradeCollectorFluid=500

    # How many items the collector upgrade will try to pull [range: 1 ~ 64, default: 4]
    I:upgradeCollectorItems=4

    # How much fluid (in mb) the pulling upgrade will try to pull [range: 1 ~ 10000, default: 500]
    I:upgradePullFluid=500

    # How many items the pulling upgrade will try to pull [range: 1 ~ 64, default: 4]
    I:upgradePullItems=4

    # How much fluid (in mb) the pushing upgrade will try to push [range: 1 ~ 10000, default: 500]
    I:upgradePushFluid=500

    # How many items the pushing upgrade will try to push [range: 1 ~ 64, default: 4]
    I:upgradePushItems=4

    # Every how many ticks the drawer upgrades will work [range: 1 ~ 200, default: 4]
    I:upgradeTick=4
}


storage {
    # Copper Upgrade storage multiplier [range: 1 ~ 1024, default: 8]
    I:copperMultiplier=4

    # Diamond Upgrade storage multiplier [range: 1 ~ 1024, default: 24]
    I:diamondMultiplier=12

    # Fluid storage divisor for Storage Upgrades [range: 1 ~ 64, default: 2]
    I:fluidDivisor=2

    # Gold Upgrade storage multiplier [range: 1 ~ 1024, default: 16]
    I:goldMultiplier=8

    # Netherite Upgrade storage multiplier [range: 1 ~ 1024, default: 32]
    I:netheriteMultiplier=16

    # Range divisor for Storage Upgrades [range: 1 ~ 64, default: 4]
    I:rangeDivisor=4
}


