# Configuration file

general {
    # Default power-button state applied when a multiblock is formed. Saved machine states are unaffected.
    B:DefaultMultiblockMachineEnabled=true

    # How many FE one EU makes
    I:EUPowerMultiplier=4

    # Power multiplier on machines
    I:PowerMultiplier=1
}


