# Configuration file

filters {
    # Should messages from the forge logger be filtered? [default: true]
    B:FilterForge=true

    # Should messages from java loggers be filtered? [default: true]
    B:FilterJava=true

    # Should messages from log4j loggers be filtered? [default: true]
    B:FilterLog4J=true

    # Should messages from misc loggers be filtered? [default: true]
    B:FilterOthers=true

    # Should messages from system out be filtered? [default: true]
    B:FilterSystem=true
}


general {
    # A list of strings. If a console message contains any of these, it will be filtered out of the log. [default: ]
    S:BasicFilter <
    No features were detected for mod: brandonscore
    Forestry is not installed
    Refined Storage is not installed
    OpenComputers is not installed
    Applied Energistics conduits loaded. Let your networks connect
    Mouse Tweaks has been initialized
    Trying to register a modifier with the name mrureinforced but it already is registered
    Fluid 'oxygen' but this Fluid has already been linked to
    Fluid 'nitrogen' but this Fluid has already been linked to
    Fluid 'hydrogen' but this Fluid has already been linked to
    cannot add it to event psi
    MultiModel minecraft:builtin/missing is empty (no base model or parts were provided/resolved)
    Texture evilcraft:broom_parts
    cannot represent material xu
    Parsing error loading recipe advancedrocketry:
    Parsing error loading recipe appliedenergistics2:
    Parsing error loading recipe bibliocraft:
    Parsing error loading recipe industrialforegoing:
    however there is no signature matching that description
    Invalid fingerprint detected
    Invalid Recipe Input for Calculator
    Could not deserialize recipe from file
    Woot: getItemStack: unknown item
    Failed to hook the Waila Config. Could not add in custom Storage Drawers related configs
    This is not recommended, @Mods should be in a separate jar from the coremod
    has already been visited -- skipping
    missing the required element 'version'
    TConstruct, you fail again, muhaha! The world is mine, mine!
    Thermal Expansion received an invalid IMC from chisel! Key was addcompactorpressrecipe
    No types have been added to Biome
    No recipe category has been registered for recipeCategoryUid multiblocked:empty
    HammerCore custom data file not found
     >

    # A list of regex patterns. If a console message matches one of these filters they will be removed from the log. [default: ]
    S:RegexFilters <
    The coremod .* is not signed
    Not applying mixin.*disabled in config
    @Mixin target.*was not found
    Error loading class.*ClassNotFoundException
    Replacing .* with.*ftbutilities
    Could not find particle class.*If the mod is not installed, this can be ignored
     >
}


