# Configuration file

ids {
    # This is the id of the dimension in the mod, this should be unique to Simple Void World
    I:"Dim id"=43
}


tweaks {
    # When true this allows creatures to spawn in this dimension
    B:CreatureSpawn=false

    # When set to true the sky and fog color are black this creates a seamless skybox
    B:"Dark mode"=false

    # When true this locks the at noon and creates an eternal day
    B:"Its High Noon"=false

    # The radius to search from the position for a portal
    # Min: 0
    # Max: 64
    I:Radius=8

    # When true this allows the player to respawn in this dimension
    B:Respawn=false

    compatibility {
        # When true this will search for old portals first.
        # Requires Portal Default Height to be false.
        B:"Backwards Portal Compat"=false

        # When true this sets the default height of the portal to 64.
        B:"Portal Default Height"=true
    }

}


