# Configuration file

general {
    # Will write all available names of (vanilla+modded) villager professions & careers to log (latest.log) during postInit (startup).
    # This can be needed cause some professions and careers have unexpected internal names.
    B:"Dump Villager Professions+Careers"=false
}


